.required {
    color:red;
}

.edit-panel {
    width: 650px;
    padding: 10px;
    height: auto;
}
.label {
    width: 130px;
    text-align: right;
    padding-right: 20px;
}
.input {
    width: 120px;
}
.input2 {
    width: 360px;
}