<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.l1.dao.PrimaryCategoryDao">

	<resultMap type="PrimaryCategory" id="PrimaryCategoryResult">
		<result property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="code" column="code"/>
		<result property="stat" column="stat"/>
		<result property="create_by" column="create_by"/>
		<result property="create_time" column="create_time"/>
		<result property="update_by" column="update_by"/>
		<result property="update_time" column="update_time"/>
		
		<result property="sizeId" column="sizeid"/>
		<result property="sizeName" column="sizename"/>
	</resultMap>
	
	<select id="findById" parameterType="int" resultType="PrimaryCategory">
		select * from tb_primary_category where id=#{id}
	</select>
	
	<select id="find" parameterType="Map" resultMap="PrimaryCategoryResult">
		select * from tb_primary_category
		<where>
			<if test="name!=null and name!='' ">
				and name like #{name}
			</if>
			<if test="code!=null and code!='' ">
				and code like #{code}
			</if>
			<if test="stat!=null and stat!='' ">
				and stat = #{stat}
			</if>
		</where>
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>
	
	<select id="getTotal" parameterType="Map" resultType="Long">
		select count(*) from tb_primary_category
		<where>
			<if test="name!=null and name!='' ">
				and name like #{name}
			</if>
			<if test="code!=null and code!='' ">
				and code like #{code}
			</if>
			<if test="stat!=null and stat!='' ">
				and stat = #{stat}
			</if>
			<if test="stat!=null and stat!='' ">
				and stat = #{stat}
			</if>
			
			<if test="sizeId!=null and sizeId!='' ">
				and sizeId = #{sizeId}
			</if>
			
			<if test="sizeName!=null and sizeName!='' ">
				and sizeName = #{sizeName}
			</if>
			
			
		</where>
	</select>
	
	<insert id="add" parameterType="PrimaryCategory">
		insert into tb_primary_category(id,name,stat,code,create_time) values(null,#{name},#{stat},#{code},#{create_time})
	</insert>
	
	<update id="update" parameterType="PrimaryCategory">
		update tb_primary_category
		<set>
			<if test="name!=null and name!='' ">
				name=#{name},
			</if>
			<if test="stat!=null and stat!='' ">
				stat=#{stat},
			</if>
			<if test="code!=null and code!='' ">
				code=#{code},
			</if>
			<if test="update_time!=null">
				update_time=#{update_time},
			</if>
			
			<if test="sizeId!=null and sizeId!='' ">
				 sizeId = #{sizeId},
			</if>
			
			<if test="sizeName!=null and sizeName!='' ">
				 sizename = #{sizeName},
			</if>
		</set>
		where id=#{id}
	</update>
	
	<delete id="delete" parameterType="Integer">
		update tb_primary_category set stat='停用' where id=#{id}
	</delete>
</mapper> 