<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.l1.dao.RentDtlDao">

	<resultMap type="RentDtl" id="RentDtlResult">
		<result property="id" column="id"/>
		<result property="dtlId" column="dtlId"/>
		<result property="itemName" column="itemName"/>
		<result property="skuId" column="skuId"/>
		<result property="itemPrice" column="itemPrice"/>
		<result property="itemAmount" column="itemAmount"/>
		<result property="itemRent" column="itemRent"/>
		<result property="itemRepo" column="itemRepo"/>
		<result property="stat" column="stat"/>
		<result property="statName" column="statName"/>
		
	</resultMap>
	
	<insert id="add" parameterType="RentDtl" keyProperty="dtlId" keyColumn="dtlId" useGeneratedKeys="true">
		insert into tb_rentdtl(id,skuId,itemName,itemPrice,itemAmount,itemRent,itemRepo,stat,statName)
		values(#{id},#{skuId},#{itemName},#{itemPrice},#{itemAmount},#{itemRent},#{itemRepo},#{stat},#{statName})
	</insert>
	<insert id="batchSave" parameterType="list">
		insert into tb_rentdtl(id,skuId,itemName,itemPrice,itemAmount,itemRent,itemRepo,stat,statName)
		values
		<foreach item="item" index="index" collection="list"  separator=",">
			(#{item.id},#{item.skuId},#{item.itemName},#{item.itemPrice},#{item.itemAmount},#{item.itemRent},#{item.itemRepo},#{item.stat},#{item.statName})
		</foreach>
	</insert>
	<update id="update" parameterType="RentDtl">
		update tb_rentdtl
		<set>
			<if test="skuId!=null and skuId!='' ">
				skuId=#{skuId},
			</if>
			
			<if test="itemName!=null and itemName!='' ">
				itemName=#{itemName},
			</if>
			<if test="itemPrice!=null and itemPrice!='' ">
				itemPrice=#{itemPrice},
			</if>
			<if test="itemAmount!=null and itemAmount!='' ">
				itemAmount=#{itemAmount},
			</if>
			<if test="itemRent!=null">
				itemRent=#{itemRent},
			</if>
			<if test="itemRepo!=null">
				itemRepo=#{itemRepo},
			</if>
			<if test="stat!=null">
				stat=#{stat},
			</if>
			<if test="statName!=null">
				statName=#{statName},
			</if>
			
		</set>
		where dtlId=#{dtlId}
	</update>
	
	<select id="find" parameterType="Map" resultMap="RentDtlResult">
		select * from tb_rentdtl
		<where>
			<if test="id!=null and id!='' ">
				and id = #{id}
			</if>
			<if test="dtlId!=null and dtlId!='' ">
				and dtlId= #{dtlId}
			</if>
			<if test="stat!=null and stat!='' ">
				and stat=#{stat}
			</if>
		</where>
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>
	
	<select id="findByIds" parameterType="string" resultMap="RentDtlResult">
		select * from tb_rentdtl
		where id in (#{ids})
	</select>
	
	<select id="findById" parameterType="int" resultMap="RentDtlResult">
		select * from tb_rentdtl
		where dtlId =#{dtlId}
	</select>
	
	
	
	<select id="getTotal" parameterType="Map" resultType="Long">
		select count(*) from tb_rentdtl
		<where>
			<if test="id!=null and id!='' ">
				and id =#{id}
			</if>
		</where>
	</select>
	
	<delete id="delete">
		DELETE FROM tb_rentdtl where dtlId IN
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<delete id="deleteById" parameterType="int">
		DELETE FROM tb_rentdtl where dtlId=#{dtlId}
	</delete>
	<delete id="deleteByRentId" parameterType="int">
		DELETE FROM tb_rentdtl where id=#{id}
	</delete>

</mapper> 