<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.l1.dao.RentDao">

    <resultMap type="com.l1.entity.Rent" id="RentResult">
        <result property="id" column="id"/>
        <result property="billNo" column="billNo"/>
        <result property="customerName" column="customerName"/>
        <result property="warehouseId" column="warehouseId"/>
        <result property="warehouseName" column="warehouseName"/>
        <result property="customerPhone" column="customerPhone"/>
        <result property="customerAddr" column="customerAddr"/>
        <result property="customerCard" column="customerCard"/>
        <result property="stat" column="stat"/>
        <result property="billStat" column="billStat"/>
        <result property="billStatName" column="billStatName"/>

        <result property="rentDay" column="rentDay"/>
        <result property="rentMoney" column="rentMoney"/>
        <result property="repoMoney" column="repoMoney"/>
        <result property="beginDate" column="beginDate"/>
        <result property="endDate" column="endDate"/>
        <result property="expressBillNo" column="expressBillNo"/>
        <result property="returnBillNo" column="returnBillNo"/>
        <result property="supplierId" column="supplierId"/>
        <result property="supplierName" column="supplierName"/>


        <result property="create_by" column="create_by"/>
        <result property="create_time" column="create_time"/>
        <result property="update_by" column="update_by"/>
        <result property="update_time" column="update_time"/>
    </resultMap>

    <insert id="save" parameterType="com.l1.entity.Rent" useGeneratedKeys="true" keyProperty="id">
		insert into tb_rent(billNo,customerName,warehouseId,stat,billStat,create_time,customerPhone,customerAddr,customerCard
		,rentDay,rentMoney,repoMoney,beginDate,endDate,expressBillNo,returnBillNo,supplierId)
		values(#{billNo},#{customerName},#{warehouseId},#{stat},#{billStat},#{create_time},
		#{customerPhone},#{customerAddr},#{customerCard}
		,#{rentDay},#{rentMoney},#{repoMoney},#{beginDate},#{endDate},#{expressBillNo},#{returnBillNo},#{supplierId})
	</insert>

    <update id="update" parameterType="com.l1.entity.Rent">
        update tb_rent
        <set>
            <if test="billNo!=null and billNo!='' ">
                billNo=#{billNo},
            </if>

            <if test="customerName!=null and customerName!='' ">
                customerName=#{customerName},
            </if>

            <if test="warehouseId!=null and warehouseId!='' ">
                warehouseId=#{warehouseId},
            </if>
            <if test="warehouseName!=null and warehouseName!='' ">
                warehouseName=#{warehouseName},
            </if>
            <if test="stat!=null and stat!='' ">
                stat=#{stat},
            </if>
            <if test="billStat!=null and billStat!='' ">
                stat=#{billStat},
            </if>
            <if test="statName!=null and statName!='' ">
                statName=#{statName},
            </if>
            <if test="update_time!=null">
                update_time=#{update_time},
            </if>
            <if test="customerPhone!=null">
                customerPhone=#{customerPhone},
            </if>
            <if test="customerAddr!=null">
                customerAddr=#{customerAddr},
            </if>
            <if test="customerCard!=null">
                customerCard=#{customerCard},
            </if>
            <if test="rentDay!=null">
                rentDay=#{rentDay},
            </if>

            <if test="repoMoney!=null">
                repoMoney=#{repoMoney},
            </if>
            <if test="rentMoney!=null">
                rentMoney=#{rentMoney},
            </if>
            <if test="beginDate!=null">
                beginDate=#{beginDate},
            </if>
            <if test="endDate!=null">
                endDate=#{endDate},
            </if>
            <if test="expressBillNo!=null">
                expressBillNo=#{expressBillNo},
            </if>

            <if test="returnBillNo!=null">
                returnBillNo=#{returnBillNo},
            </if>
            <if test="supplierId!=null">
                supplierId=#{supplierId},
            </if>
        </set>
        where id=#{id}
    </update>
    <update id="finish">
        UPDATE tb_rent set billStat = 1 WHERE id IN
        <foreach collection="array" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <select id="find" resultMap="RentResult">
        SELECT
        r.*,w.`name` warehouseName,s.`supplierName`,d.textField billStatName
        FROM
        tb_rent r
        LEFT JOIN
        tb_warehouse w
        ON r.warehouseId = w.id
        LEFT JOIN
        tb_supplier s
        ON
        r.supplierId = s.id
        LEFT JOIN
        (SELECT
        valueField,
        textField
        FROM
        tb_dic
        WHERE keyWord = 'rentBillStatus') d
        ON r.billStat = d.valueField
        <where>
            <if test="name!=null and name!='' ">
                and name like #{name}
            </if>
            <if test="code!=null and code!='' ">
                and code like #{code}
            </if>
            <if test="stat!=null and stat!='' ">
                and stat=#{stat}
            </if>
        </where>
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
    </select>

    <select id="findByIds" parameterType="string" resultMap="RentResult">
		select r.*,w.name warehouseName,s.supplierName supplierId from tb_rent r,tb_warehouse w,tb_supplier s,tb_dic d
		where id in (#{ids}) and r.warehouseId = w.id
	</select>

    <select id="findById" parameterType="int" resultMap="RentResult">
		SELECT
              r.*,w.`name` warehouseName,s.`supplierName`,d.textField billStatName
            FROM
              tb_rent r
              LEFT JOIN
              tb_warehouse w
              ON r.warehouseId = w.id
              LEFT JOIN
              tb_supplier s
              ON
              r.supplierId = s.id
                LEFT JOIN
              (SELECT
                valueField,
                textField
              FROM
                tb_dic
              WHERE keyWord = 'rentBillStatus') d
              ON r.billStat = d.valueField
              where r.id = #{id}
	</select>


    <select id="getTotal" parameterType="map" resultType="Long">
        select count(*) from tb_rent
        <where>
            <if test="name!=null and name!='' ">
                and name like #{name}
            </if>
            <if test="code!=null and code!='' ">
                and code like #{code}
            </if>
        </where>
    </select>

    <delete id="delete">
        DELETE FROM tb_rent where id IN
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteById" parameterType="int">
		DELETE FROM tb_rent where id=#{id}
	</delete>

</mapper> 