<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.l1.dao.SizeDtlDao">

    <resultMap type="SizeDtl" id="SizeDtlResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="text" column="text"/>
        <result property="sizeId" column="sizeId"/>
        <result property="code" column="code"/>
        <result property="stat" column="stat"/>
        <result property="statName" column="statName"/>
        <!--
        <result property="create_by" column="create_by" />
        <result property="create_time" column="create_time" />
        <result property="update_by" column="update_by" />
        <result property="update_time" column="update_time" />
         -->
    </resultMap>

    <sql id="v_sizeDtl">
				select s.*,d.textField statName from tb_sizedtl s LEFT JOIN (SELECT valueField,textField FROM tb_dic where keyWord='sizeStatus') d ON s.stat = d.valueField
	</sql>
    <select id="find" parameterType="map" resultMap="SizeDtlResult">
        <include refid="v_sizeDtl"/>
        <where>
            <if test="name!=null and name!='' ">
                and name like #{name}
            </if>
            <if test="code!=null and code!='' ">
                and code like #{code}
            </if>
            <if test="stat!=null and stat!='' ">
                and stat=#{stat}
            </if>
            <if test="sizeId!=null and sizeId!='' ">
                and sizeId=#{sizeId}
            </if>
        </where>
        <if test="start!=null and size!=null">
            limit #{start},#{size}
        </if>
    </select>

    <select id="findByIds" parameterType="string" resultMap="SizeDtlResult">
        <include refid="v_sizeDtl"/>
        where id in (#{ids})
	</select>

    <select id="findById" parameterType="int" resultMap="SizeDtlResult">
        <include refid="v_sizeDtl"/>
        where id =#{id}
	</select>

    <select id="findNamesByIds" resultType="String">
        select name from tb_sizedtl
        <where>
            id in
            <foreach item="item" index="index" collection="array"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>

    <select id="getTotal" parameterType="Map" resultType="Long">
        select count(*) from tb_sizedtl
        <where>
            <if test="name!=null and name!='' ">
                and name like #{name}
            </if>
            <if test="code!=null and code!='' ">
                and code like #{code}
            </if>
            <if test="sizeId!=null and sizeId!='' ">
                and sizeId=#{sizeId}
            </if>
        </where>
    </select>

    <insert id="add" parameterType="SizeDtl">
		insert into
		tb_sizedtl(id,name,text,code,stat,sizeId)
		values(null,#{name},#{name},#{code},#{stat},#{sizeId})
	</insert>

    <update id="update" parameterType="SizeDtl">
        update tb_sizedtl
        <set>
            <if test="name!=null and name!='' ">
                name=#{name},
            </if>
            <if test="code!=null and code!='' ">
                code=#{code},
            </if>
            <if test="stat!=null and stat!='' ">
                stat=#{stat},
            </if>
            <!--
            <if test="update_time!=null">
                update_time=#{update_time},
            </if>
             -->
            <if test="sizeId!=null and sizeId!='' ">
                sizeId=#{sizeId},
            </if>

        </set>
        where id=#{id}
    </update>

    <delete id="delete" parameterType="Integer">
		update tb_sizedtl set
		stat='0' where id=#{id}
	</delete>
</mapper> 